<h3>Deletion '{{job_del.job.job_id}}' {{job_del.job.job_state}}</h3>

<div class="alert" data-ng-show="filter.reason">
    <strong>Filtered by error message</strong>
    {{filter.reason}}
    <button type="button" class="close" title="Remove filter" data-ng-click="resetReasonFilter()">&times;</button>
</div>
<p>
    <i class="icon-group"></i> VO: <span class="vo">{{job_del.job.vo_name}}</span><br/>
</p>
<div class="row-fluid">
    <div class="span6">
        <p>
            <i class="icon-user"></i> Delegation ID: {{job_del.job.cred_id}}<br/>
            <i class="icon-time"></i> Submitted time: {{job_del.job.submit_time}}<br/>
            <i class="icon-time"></i> Job finished: {{job_del.job.job_finished}}<br/>
        </p>
    </div>
    <div class="span6">
        <p>
            <i class="icon-hdd"></i> Received by {{job_del.job.submit_host}}<br/>
            <i class="icon-remove"></i> Overwrite flag: {{job_del.job.overwrite_flag}}<br/>
            <i class="icon-refresh"></i> Job type: {{job_del.job.job_type}}<br/>
            <i class="icon-ban-circle"></i> Cancel flag: {{job_del.job.cancel_job}}<br/>
        </p>
    </div>
</div>
<p>
   <i class="icon-pencil"></i> Metadata:
   <pre>{{job_del.job.job_metadata}}</pre>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Total size</th>
            <th>Done</th>
            <th>Submission time</th>
            <th>Start time</th>
            <th title="Since start time">Running time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{files.stats.total_size|filesize}}</td>
            <td>{{files.stats.total_done|filesize}}</td>
            <td>{{job_del.job.submit_time}}</td>
            <td>{{files.stats.first_start}} (<span style="color:red">+{{files.stats.queued_first}}s</span>)
            <td><span data-optional-number="{{files.stats.time_transfering}}" data-decimals="0" data-suffix="s"></span></td>
        </tr>
        <tr>
            <td colspan="5" class="progress">
                <progressbar max="files.stats.total_size" value="files.stats.total_done"></progressbar>
            </td>
        </tr>
    </tbody>
</table>

<h4>Showing {{files.files.startIndex}} to {{files.files.endIndex}} out of {{files.files.count}}</h4>
<p class="btn-group" data-ng-click="filterByState()">
    <button type="button" class="btn btn-info btn-small"
            data-ng-model="filter.state.submitted" data-btn-checkbox
            data-ng-disabled="!job_del.states.SUBMITTED">{{job_del.states.SUBMITTED}} SUBMITTED</button>
    <button type="button" class="btn btn-delete btn-small"
            data-ng-model="filter.state.delete" data-btn-checkbox
            data-ng-disabled="!job_del.states.DELETE">{{job_del.states.DELETE}} DELETE</button>
    <button type="button" class="btn btn-primary btn-small"
            data-ng-model="filter.state.active" data-btn-checkbox
            data-ng-disabled="!job_del.states.ACTIVE">{{job_del.states.ACTIVE}} ACTIVE</button>
    <button type="button" class="btn btn-danger  btn-small"
            data-ng-model="filter.state.canceled" data-btn-checkbox
            data-ng-disabled="!job_del.states.CANCELED">{{job_del.states.CANCELED}} CANCELED</button>
    <button type="button" class="btn btn-danger btn-small"
            data-ng-model="filter.state.failed" data-btn-checkbox
            data-ng-disabled="!job_del.states.FAILED">{{job_del.states.FAILED}} FAILED</button>
    <button type="button" class="btn btn-success btn-small"
            data-ng-model="filter.state.finished" data-btn-checkbox
            data-ng-disabled="!job_del.states.FINISHED">{{job_del.states.FINISHED}} FINISHED</button>
    <button type="button" class="btn btn-small"
            data-ng-model="filter.state.not_used" data-btn-checkbox
            data-ng-disabled="!job_del.states.NOT_USED">{{job_del.states.NOT_USED}} NOT_USED</button>
</p>

<pagination rotate="false"
    page="files.files.page" total-items="files.files.count" items-per-page="files.files.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table table-small">
    <thead>
        <tr>
            <th style="width: 8%">
               <span data-order-by="id">File ID</span>
            </th>
            <th style="width: 6%">File State</th>
            <th style="width: 7%">
               <span data-order-by="size">File Size</span>
            </th>
            <th style="width: 10%">
               <span data-order-by="start_time">Start Time</span>
            </th>
            <th style="width: 10%">
               <span data-order-by="finish_time">Finish Time</span>
            </th>
            <th style="width: 6%"></th>
        </tr>
    </thead>
    <tbody data-ng-repeat="file in files.files.items">
        <tr class="transfer_header">
            <td>
                <i class="icon-plus" data-ng-click="file.show = !file.show"></i>
                {{file.file_id}}
                <i class="icon-refresh" data-ng-show="file.retry"></i>
            </td>
            <td class="status {{file.file_state}}">
                {{file.file_state}}
                <span data-ng-show="file."></span>
            </td>
            <td>{{file.filesize|filesize}}</td>
            <td>{{file.start_time}}</td>
            <td>{{file.finish_time}}</td>
            <td>
                <span data-ng-if="file.log_file">
                   <a href="{{file.log_file}}">
                       <i class="glyphicon icon-file"></i> Log
                   </a>
                </span>
            </td>
        </tr>
        <tr class="nested">
            <td colspan="5" class="hscroll">
                <i class="glyphicon icon-home" title="Source"></i> {{file.source_surl}}
            </td>
        </tr>
        <tr style="background: #CCC" data-ng-show="file.show">
            <td colspan="6">
                <ul>
                    <li>Transfer host: {{file.transfer_host}}</li>
                    <li>PID: {{file.pid}}</li>
                    <li>Hash: {{file.hashed_id|hex}}</li>
                    <li>Attempts: {{file.retry}}</li>
                    <li>Duration: {{file.tx_duration}} seconds</li>
                    <li>Configuration: {{file.symbolicname}}</li>
                    <li>Finished time: {{file.finish_time}}</li>
                    <li>Error reason: {{file.reason}}</li>
                    <li>Metadata:
                        <pre>{{file.file_metadata}}</pre>
                    </li>
                    <li data-ng-show="file.retry">Retries:
                        <dl data-ng-repeat="retry in file.retries">
                            <dt>{{retry.datetime}}</dt>
                            <dd>{{retry.reason}}</dd>
                        </dl>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="files.files.page" total-items="files.files.count" items-per-page="files.files.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
